# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore composer vendor folder
/vendor/
/framework/
/cms/
/assets/
/siteconfig/
/reports/
/themes/default/node_modules/
/sql/
/misc/
mysite/_config/parish.yml